.skills{
    height:auto;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    padding-left:5rem;
    flex-direction: column;
    padding-top: 7rem;

}
.html-entity{
    background: linear-gradient(90deg, #FAF233 0%, #7BFF2B 22.63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.skills-heading{
    color: white;
    text-align:start;
    font-family: var(--ff-base);
    font-size: 2rem;
    font-weight: var(--fw-bold);
    padding-bottom: 2rem;
}
.skills-subheading{
    color: white;
    text-align:start;
    font-family: var(--ff-base);
    font-size: 1rem;
    font-weight:200;
    padding-bottom: 2rem;

}
.skills-icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
    gap:5rem;
    
}
.skills-icons>div>{
    display: flex;
    flex-direction: column;
}
.skill-text{
    color: white;
    text-align: center;
    font-family: var(--ff-base);
    font-weight: 100;
    font-size: 0.8rem;
}

.skills-icons>div>img{
    width:5rem;
    opacity: 0.7;
    height: fit-content;
}

@media screen  and (max-width:420px){
    .skills{
        padding-inline:2rem;
    }
    .skills-icons{
        padding-left: 1rem;
    }
}